.env
node_modules/
dist/
art/**/*.wav
art/company/local2/
art/company/local/
art/music/
art/voice-raw/
art/slice/
proto2/llm/data/*.server.log
proto2/tts/raw/
art/company/local6/
art/production/
art/video/
